@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --secondary: #27272a;
  --accent: #f59e0b;
  --muted: #a1a1aa;
  --border: #3f3f46;
  --surface: #18181b;
  --surface-light: #27272a;
  --surface-lighter: #3f3f46;
  --text-secondary: #a1a1aa;
  --text-muted: #52525b;
  
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  
  --container-width: 1200px;
  --header-height: 80px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}
